<div class="page-content">
    <h1>{{title}}</h1>
    
    {{#if date}}
    <div class="page-metadata">
        <span class="date">Published: {{date}}</span>
    </div>
    {{/if}}
    
    {{#if tags.length}}
    <div class="page-tags">
        {{#each tags}}
        <span class="tag">{{this}}</span>
        {{/each}}
    </div>
    {{/if}}
    
    <article class="markdown-content">
        {{{content}}}
    </article>
    
    {{#if author}}
    <div class="page-author">
        Author: {{author}}
    </div>
    {{/if}}
</div>
