<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {{metadata}}
</head>
<body>
    <nav>
        <ul>
            {{#each nav}}
                <li><a href="{{this.href}}">{{this.text}}</a></li>
            {{/each}}
        </ul>
    </nav>

    <header>
        <h1>{{title}}</h1>
    </header>

    <main>
        <ul>
            {{#each slugs}}
                <li><a href="/{{../title}}/{{this}}">{{this}}</a></li>
            {{/each}}
        </ul>
    </main>
</body>
</html>
